@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap");

* {
  font-family: Rubik, sans-serif
}


body {
  margin: 0;
  /* background: linear-gradient(-45deg, lightblue, lightgrey, #e8b6f5, rgb(241, 128, 35)); */
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  font-family:
    Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: lighter;
}

.about-text {
  font-size: 1.6em;
}

.work-card {
  margin: 2%;
  background-color: transparent !important;
  transition: transform 0.2s linear;
}

.work-card:hover {
  box-shadow: 0 5px 15px rgb(14, 13, 13);
  transform: translateY(-7px);

}


/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
